:root {
    --bg-color: #f8f7e9;
    --input-bg: #ffffff;
    --text-color: #333333;
    --border-color: #dcdcdc;
    --pri-color: #5a5a5a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 6px;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: var(--bg-color);
    /* background-color: #e1e8b2; */
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: var(--pri-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

#donationForm {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 10px;
    padding-bottom: 12px;
    padding-top: 16px;
    padding-left: 17px;
    padding-right: 17px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--pri-color);
}

input[type="text"],
input[type="tel"],
input[type="data"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--input-bg);
    font-family: inherit;
    font-size: 1rem;
    color: var(--text-color);
}

input:focus,
select:focus {
    outline: none;
    border-color: #aaa;
}

.image-praview-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 12fr));
    gap: 10px;
    margin-top: 15px;
}

.image-praview-item {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: var(--pri-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: inherit;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background-color: #444;
}

@media(max-width:480px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }
}